
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inika", serif;
    
    
}
body{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow-x: hidden;
}

:root{
    
    --text-color: #fff;
    --gradient:linear-gradient(90deg,#34CEFF -30%,#B10FB2 70%);
    --primary-bg: #000;
    --card-bg: #1F1F1F;
    --text-color: #FFFFFF;
    --helper-color:#B10FB2;
    --secondary-text-color: #BABABA;
    --category-color: #3495C0;
    --star-color: #FFEB3B;
    
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

html{
    font-size: 62.5%;
    /* 1rem=10px */
    /* font-size: 31.25%62.5; */
}
/* ===============================default setting============ */
h1{
    color: var(--text-color);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.5rem;
}

p{
    color:var(--secondary-text-color);
    line-height: 2.5rem;
    font-size: 2.4rem;
    font-weight: 600;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* ================================
header section :start
================================ */

.header{
    padding: 0 4.5rem;
    height: 10rem;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 100;
}

.header .logo{
    height: 8.5rem;
}
/* ======.navbar-list end============ */
.navbar-list{
    display: flex;
    gap: 4rem;

}

.navbar-link:link,.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: capitalize;
    color: var(--text-color);

}

.navbar-link:hover,.navbar-link:active{
    color: var(--helper-color);
    transition: color .3s linear;
}
/* ======.navbar-list end============ */

/* ======nav icons start============ */
.nav-icon{
    display: flex;
    gap: 4rem;
    font-size: 2.4rem;
    color: var(--text-color);
    
}

.fa-bars:hover,.fa-bars:active,
.fa-search:hover,.fa-search:active,
.fa-user:hover,.fa-user:active
{
    color: var(--helper-color);
    transition: all .3s linear;
    cursor: pointer;
}

/* ======nav icons end============ */
/* ================================
header section :end
================================ */

/* ================================
Reusable code:
================================ */
.section{
    background-color: black;
}

.grid{
    display: grid;
    gap: 9rem;
}

.container{
    max-width: 192rem;
    
}

.common-heading{
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 400;
    line-height: 8rem;
}
.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    -ms-grid-column-align: center;
}

.btn{
    background: var(--gradient);
    padding: 1rem 2rem;
    border: none;
    display: inline-block;
    color: var(--text-color);
    text-transform: capitalize;
    font-size: 1 rem;
    font-weight: 700;
    border-radius: 3rem;
    cursor: pointer;
    transition: all .3s ease;

}
.btn:hover, .btn:active{
    box-shadow: 0 .5rem 1.5rem 0 var(--helper-color);
}

.card{
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    padding-bottom: 0;
}

.card:hover,.card:active{
    cursor: default;


}
.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: var(--gradient);
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: .1rem;
    translate: -50% -50%;
}

.card::before{
    filter: blur(.8rem);
    opacity: 0.5;
}


/* ================================
Hero section :start
================================ */
.section-hero{
    /* background-color: #34CEFF; */
    background-color: rgb(0, 0, 0);
    padding-left: 4.5rem;
    position: relative;
    padding: 8rem 4.5rem;
    /* height: 100vh;
    width: 100%;  */
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5.5rem;
    max-width: 80rem;
}

.hero-heading span{
    color: var(--helper-color);
     
}
/* ==========rating .container================= */
.rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0rem 2.5rem;
    border-radius: 10px;
    max-width: 1.rem;
    margin-top: 1.1rem;
    
}

.user-images {
    display: flex;
    margin-right: 1.5rem;
}

.user-images img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-left: -1.3rem;
    border: 0.3rem solid var(--primary-bg)
}

.rating-details {
    display: flex;
    flex-direction:column;
    position: relative;
    margin-top: -.5rem;
}

.rating {
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--text-color);
}

.stars {
    color: var(--star-color);
    font-size: 1.3rem;
}

.total-reviews {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--secondary-text-color);

}
/* ==========home btn================= */

.btn-learning{
    padding: 1rem 4rem;
    font-size: 1.5rem;
}
.btn-learning:hover, .btn-learning:active{
    box-shadow: 0 .5rem 1.5rem 0 var(--helper-color);
}

/* ==========main hero image================= */
.hero-image{
    height:101vh;
    width: auto;
    position: absolute;
    top: -17vh;
    left: 72rem;
    /* z-index: -0; */
    
}

/* ================================
Hero section :end
================================ */
/* ================================
most popular section 
=============================== */
.mostpopular{
    padding-bottom: 2.1rem;
    /* background-color: red; */
}

.demand-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 1rem;
    margin-bottom: 10rem;
}

.common-heading p{
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 80rem;

} 

.btn-explore{
    padding: 1rem 4rem;
    font-size: 1.5rem;
    display: inline-block;
    justify-content: flex-end;
    position: relative;
    right: -20rem;
}

/* =========course cards======== */

.course-container{
    width: 122.5rem;
    height: auto;
    margin-top: 5rem;
    padding: 2.5rem 0;
    padding-bottom: 0rem;
    position: relative;
    z-index: 1;
    /* background-color: #000; */
    
}


.image-section{
    height: 20rem;
    background-color: red;
    border-radius: 1rem;
}

.course-card .image-1{
    background-image: url('../assets/images/branding-course.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.course-card .image-2{
    background-image: url('../assets/images/webdeveopment.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.course-card .image-3{
    background-image: url('../assets/images/figma-crash-course.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.course-card-content{
    padding-top: 1rem;

}

.category{
    color: var(--category-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.course-tittle{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 700;
}

.course-discription{
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: .5rem 0;
}
.rating-details{
    display: flex;
    font-size: 1rem;
    margin: 1rem 0;
}
.rating{
    font-size: 1.8rem;
}
.tutor-details{
    display: flex;
/* flex-direction: column; */
    
}

.course-tutor-details{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: .5rem;
    margin-left: 1rem;

}

.tutor-name{
    color: var(--text-color);
    font-size: 1.14rem;
    font-weight: 700;
}

.tutor-specification{
    color: var(--secondary-text-color);
}

.course-user-images{
    padding-left: 1rem;

}
.course-user-images img{
    width: 4rem;
    height: auto;
    border-radius: 50%;
    margin-left: -1.3rem;
    
}
.btn-course{
    position: absolute;
    bottom: -.1rem;
    left: 30rem;
    border-radius: 1rem 0rem 1rem 0;
}
/* ===========================
           about-us section :start
================================ */

.btn-discover-more{
    margin: 2rem 0rem;
}
.about-us-left a{
    font-size: 1.5rem;
    padding: 1rem 5rem;
}

.about-us-section{
    margin: 0 4.5rem;
    position: relative;
}

.about-us-left p{
    line-height: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.btn-discover-more{
    position: relative;
    background: var(--primary-bg);
}
.btn-discover-more::after{
    content: "";
    position: absolute;
    background: var(--gradient);
    width: 100%;
    height: 100%;
    border-radius: 4.5rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: .1rem;
    translate: -50% -50%;
}
.about-us-image{
    width: 70rem;
    height: auto;
    position: absolute;
    top: -5rem;
    left: 68rem;

}

.about-us-image2{
    z-index: 1;
    width: 38rem;
    position: relative;
    left: 17rem;
}

/* =================== .instructor section ================================= */
.instructor{
    padding: 1rem 4.2rem;
    background-color: transparent;
    display: grid;
    justify-content: space-evenly;
    width: 100vw;
}

.instructor .head-instructor{
    line-height: normal;
    text-align: center;
}

.instructor .instructor-container{
    margin-top: 2rem;
    /* width: auto; */
    width: 100rem;
    height: auto;
    grid-gap: 7rem;
}

.instructor-container .instructor-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructor-card img{
    width: 9rem;
    /* display: flex; */
    border-radius: 50%;
    border: .4rem solid var(--secondary-text-color);
    
} 

.instructor-card .course-tutor-details{
    text-align: center;
    margin: 2rem 0;
}
.course-tutor-details .instructor-name{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--text-color);
    
}
.course-tutor-details .instructor-specification{
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-text-color);
    
}
/* 
=================================================
testimonial section 
================================================= */
.testimonials-section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}

/* ===============left side==================== */
.testimonials-content{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.testimonials-section h2{
    line-height: 4.5rem;
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
}

.testimonials-section p{
    line-height: normal;
    font-weight: 600;
    margin-bottom: 3.5rem
}
.testimonials-section button{
    width: 25rem;
    margin: 2rem;
    background-color: var(--card-bg);
    
} 


/* right side testimonial */

.carousel-container {
    width: 80%;
    max-width: 600px;
    position: relative;
    background-color: transparent;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.carousel {
    width: 60rem;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    
}

.carousel::after{
    content: '';
    position: absolute;
    height: 91%;
    width: 91.5%;
    background-image: var(--gradient);
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    z-index: -1;
    padding: .1rem;
    translate: -50% -50%;
    
}

.testimonial-slide{

    display: flex;
    justify-content: flex-start;
}

.testimonial {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--card-bg);
    text-align: center;
   
}
.testimonial img{
    width: 17rem;
    height: auto;
    border-radius: 50%;
    border: .25rem solid var(--category-color);

}

.testimonial p {
    font-size: 1.1em;
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.testimonial-author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    line-height: 2.5rem;
    margin: 1rem 0;
    
}
.testimonial-author h3{
    font-size: 2.5rem;
    color: var(--text-color);
}

.testimonial-author h4{
    font-size: 1.4rem;
    color: var(--secondary-text-color);
}
.testimonial-author .stars{
    font-size: 2.5rem;
    margin: 2rem 0;
}


.controls {
    position: absolute;
    top: 50%;
    width: 108%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls .prev:hover,
.controls .next:hover{
   background-color: var(--card-bg);
}

.controls .prev,
.controls .next {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--helper-color);
    user-select: none;
    padding: 1rem;
    background-color: var(--card-bg);
    border-radius: 50%;
    box-shadow: 0 .2rem .6rem rgba(0, 0, 0, 0.2);
}